<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952024808018-9f08cv30r11riulaqat9v3tnlk6k304e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952024808018-9f08cv30r11riulaqat9v3tnlk6k304e</string>
	<key>API_KEY</key>
	<string>AIzaSyAlB15ffiuKs5uqsF7k-_I91ZMf2bocIHk</string>
	<key>GCM_SENDER_ID</key>
	<string>952024808018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Yash.SessionHandling</string>
	<key>PROJECT_ID</key>
	<string>sessionhandling-b3049</string>
	<key>STORAGE_BUCKET</key>
	<string>sessionhandling-b3049.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952024808018:ios:e30972e28889c3a25d7d8b</string>
</dict>
</plist>